<div class="form-listing-wr a-form">
	<div class="top-part">
		<div class="logo">
			<img src="img/pics/logo-header.svg" alt="">
		</div>
		<div class="description">
			<p>Cryptocurrency Exchange</p>
		</div>
	</div>
	<div class="form-part">
		<form action="#" class="list-form">

			<!-- start default variant -->

			<div class="left-part">
				<div class="title">
					<h3 class="variable-title">Fill the form to become an Advisor</h3>
				</div>
				<div class="inputs-wr">
					<div class="wrap-input input-item popup__wrap-input">
						<input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="name" id="name">
						<label class="wrap-input__label" for="">Name*</label>
						<label class="error" for="name"><span class="standart-text"></span></label>
					</div>	
					<div class="wrap-input input-item popup__wrap-input">
						<input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="telegram" id="telegram">
						<label class="wrap-input__label" for="telegram">Telegram*</label>
						<label class="error" for="telegram"><span class="standart-text"></span></label>
					</div>
					<div class="wrap-input input-item popup__wrap-input">
						<input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="email" id="email">
						<label class="wrap-input__label" for="email">Email*</label>
						<label class="error" for="email"><span class="standart-text"></span></label>
					</div>	
					<div class="wrap-input input-item popup__wrap-input">
						<input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="companyName" id="companyName">
						<label class="wrap-input__label" for="companyName">Linkedin*</label>
						<label class="error" for="companyName"><span class="standart-text"></span></label>
					</div>
				</div>
				<div class="button-wr">
					<button class="standart-btn" type="submit"><span>Submit</span></button>
				</div>
			</div>


			<div class="right-part">
				<div class="title-wr">
					<h4>Benefits for Exrates Advisors</h4>
				</div>
				<div class="a-info-part">
					<ul class="a-form-list">
						<li>
							<div class="icon">
								<img src="img/pics/a-form1.svg" alt="">
							</div>
							<span>Special reward system for advisors: <br>get from  5% to 15%</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form2.svg" alt="">
							</div>
							<span>Get exclusive analytical market reports</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form3.svg" alt="">
							</div>
							<span>Participation in online trainings & webinars</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form4.svg" alt="">
							</div>
							<span>Your personal page on Exchange website</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form5.svg" alt="">
							</div>
							<span>Your personal manager</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form6.svg" alt="">
							</div>
							<span>Attend conferences & events as a part of Exrates team</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form7.svg" alt="">
							</div>
							<span>An opportunity to become a part of international community</span>
						</li>
						<li>
							<div class="icon">
								<img src="img/pics/a-form8.svg" alt="">
							</div>
							<span>Referral program</span>
						</li>
					</ul>
				</div>
				<div class="back-btn">
					<a href="#" onclick="window.history.back()"><span>< Back</span></a>
				</div>
			</div>
		</form>
	</div>
</div>