<div class="scripts">
	<!-- Set JS assets-->
	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
		}
	</script>
	<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" async=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>


	<script type="text/javascript" src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
	<script type="text/javascript">
		zE('webWidget', 'setLocale', 'en');
	</script>

	<script type="text/javascript">
		setTimeout(function(){
			$zopim(function(){

				$zopim.livechat.addTags('НАЗВАНИЕ БИРЖИ');

			});
		},1000)
		


	</script>
	<!-- Start of starexchangealliance Zendesk Widget script -->
	<!-- End of starexchangealliance Zendesk Widget script -->
	<script src="js/vendor-bundle.min.js"></script>
	<script src="js/custom-bundle.min.js"></script>
</div>